global
        log /dev/log   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout     5000
        clitimeout     50000
        srvtimeout     50000

listen webfarm
    bind localhost:8081
    mode http
    #stats enable
    #stats uri /haproxy?stats
    balance roundrobin
    option httpclose
    option forwardfor
    server tomcat localhost:8161 weight 1  maxconn 512 check

listen stats
    bind localhost:1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /stats
